{% extends 'base.html' %}

{% block content %}
    <p>
        <div class="alert alert-success card">
            <div  class="alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>
                    <label for="title">Tem suporte para escrita Lattex, consulte mais detalhes no site da Katex. </label>
                </p>
                <p>
                    <label for="title"> Exemplos: Observação: "\(" juntos. Assim "\ (" ax^2 + bx + c = 0 "\ )" </label>
                </p>
                <p>
                    <label for="title">Substitua o símbolo \cifrão por $ : \cifrão\cifrao x = {-b \pm \sqrt{b^2-4ac} \over 2ax \cifrão\cifrao  </label>
                </p>
            </div>
        </div>
    </p>

    <h1>{% block title %} Incluir pergunta{% endblock %}</h1>

    <form method="post">
        <div class="form-group">
            <label for="title">Informe a Pergunta:</label>
            <input type="text" name="pergunta" placeholder="Inclua a pergunta que deseja" class="form-control" value="?" ></input>
        </div>
        <div class="form-group">
            <label for="title">Selecione o Tópico:</label>
            <select name="idTopico" value="{{ request.form['idTopico'] }}" class="form-control form-control-lg">
                {% for topico in topicos %}
                    <option value="{{topico.id_topico}}">{{topico.nomeTopico}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="title">Informe as respostas e selecione a correta:</label>
            {% for id_resposta in range(4)%}
                <div  class="row">
                    <div class="align-self-center">
                        <input type="radio"  id="{{id_resposta}}" name="radioEscolha"    >
                    </div>
                    <div  class="card-body">
                        <textarea name="{{id_resposta}}" placeholder="Insira a resposta"  for="{{id_resposta}}" class="form-control form-control-lg " ></textarea>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Incluir pergunta</button>
        </div>
    </form>
{% endblock %}
