{% extends 'base.html' %}
{% block content %}

    <div class="card-body">
        <h5 class="card-title">Questões ordenadas pelo menor número de acertos</h5>
    </div>
    <div class='container'>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="row  row-cols-md-2 g-3" >
        {% for pergu in perguntas[0] %}
            <div class="card-body ">
                <div class="card">
                    <div class="card-body" >
                        <h5 class="card-title">{{ pergu.pergunta  }}
                            <span class="badge badge-primary badge-pill">{{ perguntas[1][pergu.id_topico].nomeTopico}}</span></h5>
                        </h5>
                        <p class="card-text">
                            <div class="list-group">
                                {% for resposta_ind in pergu.resposta[1] %}
                                    <div class="list-group">
                                        <a title="Selecione a resposta" class="list-group-item list-group-item-action" href="{{ url_for('resposta',id_pergunta=pergu.id_pergunta,escolha=resposta_ind)}}">{{ resposta_ind }}</a>
                                    </div>
                                {% endfor %}
                             </div>
                        </p>
                        <p class="card-text"><small class="text-muted">total de respostas {{ pergu.qtdResposta[0]+pergu.qtdResposta[1]+pergu.qtdResposta[2]+pergu.qtdResposta[3] }}</small> </p>
                    </div>
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}
