{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <p>
        <div  class="card-body alert alert-success card ">
            <div  class="card-body ">
                <h1>Inquiri: </h1><p>é um sistema de cadastro de perguntas com respostas, de diversos temas pelo usuário.</p>
                <p>O objetivo do sistema é ajudá-las a aprimorarem seus estudos e se lembrarem do conteúdo.</p>
                <p>Para usar o Inquiri, basta cadastrar as perguntas e tópicos.</p>
                <p>Depois de cadastrar uma pergunta, o usuário pode visualizar os resultados.</p>
                <p>Comece a aprimorar mais seus estudos!</p>
            </div>
        </div>
        </p>

        </div>

{% endblock %}
