{% extends 'base.html' %}

{% block content %}
    <div class="card-body">
        <h5 class="card-title">Crei tópicos, filtre questões por tópicos para editar ou ver resultados</h5>
    </div>
    <form method="POST" id="form-id" >
        <div class="row  row-cols-xs-2 g-3" >
            {% for topi in topicos[0] %}
                <div class="card-body">
                    <div class="card">
                        <div class="card-body list-group-item-action" >
                            {% if topicos[3][topi.id_topico] %}
                                <input title="Filtrar por tópico" type="checkbox" class="btn-check" id="{{topi.id_topico}}"   checked autocomplete="off" name="{{topi.id_topico}}"
                                       onclick="document.getElementById('form-id').submit();" value="{{ request.form['{{topi.id_topico}}'] }}">
                                    <label class="btn" for="{{topi.id_topico}}" >
                                        <h5 class="card-title">{{ topi.nomeTopico }}</h5>
                                        <p >
                                            <small class="text-muted">total de perguntas cadastradas
                                                <span class="badge badge-primary badge-pill">{{ topicos[1][topi.id_topico]}}</span>
                                            </small>
                                        </p>
                                    </label>
                                </input>
                            {% else %}
                                <input type="checkbox" class="btn-check" id="{{topi.id_topico}}"    name="{{topi.id_topico}}"
                                       onclick="document.getElementById('form-id').submit();" value="{{ request.form['{{topi.id_topico}}'] }}">
                                    <label class="btn" for="{{topi.id_topico}}" >
                                        <h5 class="card-title">{{ topi.nomeTopico }}</h5>
                                        <p >
                                            <small class="text-muted">total de perguntas cadastradas
                                                <span class="badge badge-primary badge-pill">{{ topicos[1][topi.id_topico]}}</span>
                                            </small>
                                        </p>
                                    </label>
                                </input>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
    <form method="POST">
        <div class="card-body">
            <div class="card">
                <div class="card-body list-group-item-action" >
                    <div class="form-group">
                        <label for="title">Crie um novo tópico   </label>
                        <input type="text" name="nomeTopico" placeholder="Novo nome de um novo tópico" class="form-control"
                               value="{{ request.form['nomeTopico'] }}">
                        </input>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Criar Novo</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row  row-cols-md-2 g-3">
        {% for pergu in topicos[2] %}
            {%if topicos[3][pergu.id_topico]%}
                <div class="card-body" >
                    <div class="card">
                        <div class="card-header text-end" >
                            <a title="Editar pergunta" href="{{ url_for('editar',id_pergunta=pergu.id_pergunta ) }}"   >
                                <i class="material-icons" style="font-size:36px;color:red">launch</i>
                            </a>
                            <a title="Visulizar Gráfico" href="{{ url_for('graficos',id_pergunta=pergu.id_pergunta ) }}"   >
                                <span class="material-icons" style="font-size:36px;color:red">insights</span>
                            </a>
                        </div>
                        <div class="card-body" >
                            <h5 class="card-title">{{ pergu.pergunta  }}
                                <span title="Tópico da pergunta" class="badge badge-primary badge-pill"> {{ topicos[0][pergu.id_topico].nomeTopico}}</span>
                                {% if pergu.ativa %}
                                    <a title="Pergunta Ativa" >
                                        <span class="badge badge-primary badge-pill">Ativa</span>
                                    </a>
                                {% else %}
                                    <a title="Pergunta Inativa">
                                        <span class="badge badge-danger">Inativa</span>
                                    </a>
                                {% endif %}
                            </h5>
                            <span class="material-symbols-outlined"></span>
                            <p class="card-text">
                                <div class="list-group">
                                    {% for resposta_ind in pergu.resposta[1] %}
                                        <div class="list-group">
                                            <a  title="Alternativa da pergunta" class="list-group-item list-group-item-action" >{{ resposta_ind }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </p>
                            <p class="card-text"><small class="text-muted">total de respostas {{ pergu.qtdResposta[0]+pergu.qtdResposta[1]+pergu.qtdResposta[2]+pergu.qtdResposta[3] }}</small> </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
