
.mouse-hover:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.hover-div{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.hover-mais:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.footer {
    height: 100px; 
    margin-bottom: -100px; 
}
