{% extends 'base.html' %}

{% block content %}
    {% with messages = get_flashed_messages() %}
  
        {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                        <strong>{{ message }}</strong>
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>


        {% endif %}
    {% endwith %}
    <div class="card-body  hover-div">
        <div class="card-body" >
            <form method="post" >
                <div  class="card-body ">
                    <div class="text-end"  >
                        <a class="icons" href="{{ url_for('topicos')}}">
                            <i  class="material-icons" style="font-size:36px;color:red;">highlight_off</i>
                        </a>
                    </div>
                    <div class="text-end ">
                        {% if pergu.ativa %}
                            <input name="status" class="form-check-input" type="checkbox" id="ativa" checked>Ativa                        </input>
                        {% else %}
                            <input name="status" class="form-check-input" type="checkbox" id="ativa" >Inativa</input>

                        {% endif %}
                    </div>
                </div>
                <div class="card-body hover-div ">
                    <div class="card-body ">
                        <h5  >Altere a pergunta: </h5>
                        <textarea class="form-control hover-div"  rows="5" name="_{{ pergu.id_pergunta }}"  >{{ pergu.pergunta }}</textarea>
                    </div>
                </div>   
                <p>
                    <div class="card-body hover-div ">
                        <h5 >Altere se necessário, as respostas:
                        </h5>
                    </div>
                </p>
                {% for id_resposta in range(tamResposta)%}
                    <div  class="card-body ">
                        <div class="row">
                            <div class="col-1">
                                {% if id_resposta == pergu.resposta[0][0] %}
                                    <input class="form-check-input" type="radio"  id="{{id_resposta}}" name="radioEscolha" checked></input>
                                {%else%}
                                    <input class="form-check-input" type="radio"  id="{{id_resposta}}" name="radioEscolha"  ></input>
                                {%endif%}
                            </div>
                            <div class="col-11 ">
                                <textarea class="form-control hover-div" name="{{id_resposta}}" class="form-control form-control-lg " rows="10"    for="{{id_resposta}}"
                                            >{{ pergu.resposta[1][id_resposta] }}</textarea>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                     
              
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

