{% extends 'base.html' %}
{% block content %}
    <div class="card-body hover-div">
        <div class="card-body  hover-div">
            <h5 class="card-title">Resultados por questões</h5>
        </div>
    <div class="row  row-cols-md-2 g-3">
        {% for pergu in perguntas %}
            <div class="card-body">
                <div class="card hover-div">
                    <div class="card-header text-end" >
                        <a  href="{{ url_for('editar',id_pergunta=pergu.id_pergunta ) }}"   >
                            <i class="material-icons" style="font-size:36px;color:red">launch</i>
                        </a>
                        <a  href="{{ url_for('graficos',id_pergunta=pergu.id_pergunta ) }}"    >
                            <span class="material-icons" style="font-size:36px;color:red">insights</span>
                        </a>
                    </div>

                    <div class="card-body" >
                        <h5 class="card-title">{{ pergu.pergunta  }}
                            <span class="badge badge-primary badge-pill">{{ topicos[pergu.id_topico].nomeTopico}}</span>
                        </h5>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
                                {% for pos in range(4) %}
                                    <div class="card-body" >                           
                                        <div class="card-body  hover-div">
                                            <li class="nav-item" > 
                                            {% if pergu.resposta[1][pergu.resposta[0][0]]==pergu.resposta[1][pos] %}
                                                <a   style="color:green">{{ pergu.resposta[1][pos] }}
                                                    <span class="badge bg-success badge-pill" >total de Acertos: {{pergu.qtdResposta[pergu.resposta[0][0]] }}</span>
                                                </a>
                                            {%else%}
                                                <a   >{{ pergu.resposta[1][pos] }}
                                                    <span class="badge bg-danger" )>total de erros: {{ pergu.qtdResposta[pos] }}</span>
                                                </a>
                                            {%endif%}
                                            </li>
                                        </div>
                                    </div>
                                {% endfor %}
                                </ul>
                        <p class="card-text"><small class="text-muted">total de respostas {{ pergu.qtdResposta[0]+pergu.qtdResposta[1]+pergu.qtdResposta[2]+pergu.qtdResposta[3] }}</small> </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
